DEBUG=True
ALLOWED_HOSTS=*
SECRET_KEY=suuuuupersecret
DATABASE_URL=postgres://user:password@localhost/gestaoacademica
SENTRY_DSN=
PASSWORD_HASHERS=django.contrib.auth.hashers.MD5PasswordHasher
STATICFILES_STORAGE=django.contrib.staticfiles.storage.StaticFilesStorage
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL="Thiago Campos <noreply@thigcampos.com>"

CSRF_TRUSTED_ORIGINS=
