{% extends 'base.html' %}

{% block title %}Todas as <b>disciplinas</b>{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if request.session.test %}
    <h3>Algumas matérias que você escolheu estão cheias:</h3>
    {% for disciplina_pendente in  request.session.test %}
    <form method="post">
        {% csrf_token %}
        <p>{{disciplina_pendente}}</p>
        <input type="hidden" value="{{disciplina_pendente}}" name="disciplina-pendente">
        <button formaction="{% url 'entrar_na_lista_de_espera' %}">Entrar na Lista de Espera</button>
        <button formaction="{% url 'se_inscrever_em_outra_materia' %}" >Se inscrever em outra disciplina</button>
    </form>

    {% endfor %}
   
{% endif %}
<form name="oferta-disciplina-form" method="post" class="disciplina-list" action="{% url 'participacao_create' %}">
   {% csrf_token %}
    {% for oferta_disciplina in object_list %}
    <div class="card">
        
        <header>

            {% if oferta_disciplina in  diciplinasInscritas %}
                <p>Já inscrito</p>
            {% else %}
                <input id="oferta-disciplina={{oferta_disciplina.id}}" type="checkbox" name="oferta-disciplina" value="{{ oferta_disciplina.id }}"/>
            {% endif %}
            
            <label for="oferta-disciplina={{oferta_disciplina.id}}">{{ oferta_disciplina.disciplina.nome }}</label>
        </header>
        <ul class="card_list">
            <li class="card_item-name">Professor: <span class="card_item-value">{{oferta_disciplina.professor.nome|lower}} {{oferta_disciplina.professor.sobrenome}}</span></li>
            <li class="card_item-name">Sala: <span class="card_item-value">{{oferta_disciplina.sala.idSala}}</span></li>
            <li class="card_item-name">Dia de aula: <span class="card_item-value">{{oferta_disciplina.diaDaSemana|lower}}</li>
            <li class="card_item-name">Horário: <span class="card_item-value">{{oferta_disciplina.horarioInicio}} até {{oferta_disciplina.horarioFim}}</span></li>
            <li class="card_item-name">Quantidade de Inscritos: <span class="card_item-value">{{oferta_disciplina.turma.aluno.all.count }} de {{ oferta_disciplina.sala.capacidade }}</span></li>
        </ul>
    </div>
    {% endfor %}
    <button type="submit" class="button">Salvar</button>
</form>
{% if diciplinasInscritas %}
    <div class="div-diciplinas-info">
        <h3>Créditos de inscrições utilizados {{len_diciplinasInscritas}} de 20 | <a href="/alunos/disciplinas">ir para minhas inscrições</a></h3> 
        <div class="diciplinas-info">
            
            {% for disciplina in diciplinasInscritas %}
            <div>
                <p>{{disciplina.disciplina.nome}} ({{disciplina.professor.nome}} {{disciplina.professor.sobrenome}}) : {{disciplina.diaDaSemana}} {{disciplina.horarioInicio}} - {{disciplina.horarioFim}}  STATUS: Inscrito</p> 
            </div>
    
            {% endfor %}
        </div>
        
        {% if request.session.lista_de_espera %}
        <div class="diciplinas-info">
            <h3>Lista de Espera</h3>
            
            {% for item in request.session.lista_de_espera%}
            <div>
                <p>{{item}}  STATUS: Na lista de espera</p> 
            </div>
            {% endfor %}
        </div>
        {% endif %}

    </div>
{% endif  %}
{% endblock %}
