{% extends 'base.html' %}

{% block title %}Todas as <b>disciplinas</b>{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form name="oferta-disciplina-form" method="post" class="disciplina-list" action="{% url 'participacao_create' %}">
   {% csrf_token %}
    {% for oferta_disciplina in object_list %}
    <div class="card">
        
        <header>

            {% if oferta_disciplina in  diciplinasInscritas %}
                <p>Já inscrito</p>
            {% else %}
                <input id="oferta-disciplina={{oferta_disciplina.id}}" type="checkbox" name="oferta-disciplina" value="{{ oferta_disciplina.id }}"/>
            {% endif %}
            
            <label for="oferta-disciplina={{oferta_disciplina.id}}">{{ oferta_disciplina.disciplina.nome }}</label>
        </header>
        <ul class="card_list">
            <li class="card_item-name">Professor: <span class="card_item-value">{{oferta_disciplina.professor.nome|lower}} {{oferta_disciplina.professor.sobrenome}}</span></li>
            <li class="card_item-name">Sala: <span class="card_item-value">{{oferta_disciplina.sala.idSala}}</span></li>
            <li class="card_item-name">Horário: <span class="card_item-value">{{oferta_disciplina.horarioInicio}} até {{oferta_disciplina.horarioFim}}</span></li>
            <li class="card_item-name">Dia de aula: <span class="card_item-value">{{oferta_disciplina.diaDaSemana|lower}}</li>
        </ul>
    </div>
    {% endfor %}
    <button type="submit" class="button">Salvar</button>
</form>
{% if diciplinasInscritas %}
    <div class="div-diciplinas-info">
        <h3>Incrições Realizadas {{len_diciplinasInscritas}} de 3</h3>
        <div class="diciplinas-info">
            
            {% for disciplina in diciplinasInscritas %}
            <div>
                <p>{{disciplina.disciplina.nome}} ({{disciplina.professor.nome}} {{disciplina.professor.sobrenome}}) : {{disciplina.diaDaSemana}} {{disciplina.horarioInicio}} - {{disciplina.horarioFim}}</p>
            </div>
    
            {% endfor %}
        </div>
    </div>
{% endif  %}
{% endblock %}
