{% extends 'base.html' %}

{% block title %}Todas as <b>disciplinas</b>{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form name="oferta-disciplina-form" method="post" class="disciplina-list" action="{% url 'participacao_create' %}">
   {% csrf_token %}
    {% for oferta_disciplina in object_list %}
    <div class="card">
        <header>
            <input id="oferta-disciplina={{oferta_disciplina.id}}" type="checkbox" name="oferta-disciplina" value="{{ oferta_disciplina.id }}"/>
            <label for="oferta-disciplina={{oferta_disciplina.id}}">{{ oferta_disciplina.disciplina.nome }}</label>
        </header>
        <ul class="card_list">
            <li class="card_item-name">Professor: <span class="card_item-value">{{oferta_disciplina.professor.nome}} {{oferta_disciplina.professor.sobrenome}}</span></li>
            <li class="card_item-name">Sala: <span class="card_item-value">{{oferta_disciplina.sala.id}}</span></li>
            <li class="card_item-name">Horário: <span class="card_item-value">{{oferta_disciplina.horarioInicio}} até {{oferta_disciplina.horarioFim}}</span></li>
            <li class="card_item-name">Dia de aula: <span class="card_item-value">{{oferta_disciplina.diaDaSemana}}</li>
        </ul>
    </div>
    {% endfor %}
    <button type="submit" class="button">Salvar</button>
</form>
{% endblock %}
