<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8" />
        <title>Gestão Academica {% block head_title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, user-scalable=no" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <main>
            <header>
            <h1>{% block title %}{% endblock %}</h1>
            </header>
            <section class="content_container">
                {% block content %}
                {% endblock %}
            </section>
        </main>
    </body>
</html>

