{% extends 'base.html' %}

{% block title %}Olá, <b>{{ user.email }}</b>{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <menu class="menu">
        <div class="menu_row">
            <a href="disciplinas/" class="menu_row-item">Matricular-se</a>
            <a href="alunos/disciplinas" class="menu_row-item">Minhas disciplinas</a>
        </div>
        <div class="menu_row">
            {% if user.is_superuser %}
            <a href="admin/" class="menu_row-item">Acessar admin</a>
            {% else %}
            <a href="alunos/lista-espera" class="menu_row-item">Lista de espera</a>
            {% endif %}
            <a href="accounts/logout/" class="menu_row-item">Logout</a>
        </div>
  </menu>
{% endblock %}
