{% extends 'base.html' %}

{% block title %}Minhas <b>disciplinas</b>{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="disciplina-list">
    {% for oferta_disciplina in object_list %}
    <div class="card">
        <header>
            <h2>{{ oferta_disciplina.disciplina.nome }}</h2>
        </header>
        <ul>
            <li>Sala: {{oferta_disciplina.sala.id}}</li>
            <li>Horário: {{oferta_disciplina.horarioInicio}} até {{oferta_disciplina.horarioFim}}</li>
            <li>Dia de Aula: {{oferta_disciplina.diaDaSemana}}</li>
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock %}
