{% extends 'base.html' %}

{% block title %}Minhas <b>disciplinas</b>{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="disciplina-list">
    {% for oferta_disciplina in object_list %}
    <div class="card">
        <header>
            <h2>{{ oferta_disciplina.disciplina.nome }}</h2>
        </header>
        <ul class="card_list">
            <li class="card_item-name">Professor: <span class="card_item-value">{{oferta_disciplina.professor.nome}} {{oferta_disciplina.professor.sobrenome}}</span></li>
            <li class="card_item-name">Sala: <span class="card_item-value">{{oferta_disciplina.sala.idSala}}</span></li>
            <li class="card_item-name">Horário: <span class="card_item-value">{{oferta_disciplina.horarioInicio}} até {{oferta_disciplina.horarioFim}}</span></li>
            <li class="card_item-name">Dia de aula: <span class="card_item-value">{{oferta_disciplina.diaDaSemana|lower}}</li>
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock %}
