{% extends 'base.html' %}

{% block title %}Minhas <b>disciplinas</b>{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="disciplina-list">
    {% for oferta_disciplina in object_list %}
    <div class="card">
        <header>
            <h2>{{ oferta_disciplina.disciplina.nome }}</h2>
        </header>
        <ul class="card_list">
            <li class="card_item-name">Professor: <span class="card_item-value">{{oferta_disciplina.professor.nome}} {{oferta_disciplina.professor.sobrenome}}</span></li>
            <li class="card_item-name">Sala: <span class="card_item-value">{{oferta_disciplina.sala.idSala}}</span></li>
            <li class="card_item-name">Horário: <span class="card_item-value">{{oferta_disciplina.horarioInicio}} até {{oferta_disciplina.horarioFim}}</span></li>
            <li class="card_item-name">Dia de aula: <span class="card_item-value">{{oferta_disciplina.diaDaSemana|lower}}</li>
            <li class="card_item-name">Status: <span class="card_item-value">Inscrito</li>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ oferta_disciplina.disciplina.nome }}" name="disciplina-solicitada">
                <button class="button" formaction="{% url 'participacao_delete' %}">Cancelar Inscrição</button>
            </form>
            
        </ul>
    </div>
    {% endfor %}
    {% if request.session.lista_de_espera %}
    <div class="card">
        <header>
            <h2>Disciplinas na lista de espera:</h2>
        </header>
        {% for item in request.session.lista_de_espera%}
        <li class="card_item-name">{{item}}</li>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ item }}" name="disciplina-solicitada">
            <button formaction="{% url 'lista_espera_delete' %}">Sair da lista de espera</button>
        </form>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
